parameters:
	basePath: /moje-projekty/Nette-projekty/mujSalonek/www

application:
	errorPresenter: Error
	mapping:
		*: App\*Module\Presenters\*Presenter


latte:
	strictTypes: yes


session:
	expiration: 14 days


di:
	export:
		parameters: no
		tags: no

database:
	dsn: 'mysql:host=127.0.0.1;port=3333;dbname=mujSalonek'
	user: 'root'
	password: 'mujsalonek'
